{{ header }}
{% for idx, case in cases %}
@test '{{ case["description"] }}' {
    {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
{% if case["expect_error"] %}
    run jq -c -f {{ solution }} << 'END_INPUT'
{%- else %}
    run jq -r -f {{ solution }} << 'END_INPUT'
{%- endif %}
{{ case["input"] | tojson(separators=None, indent=2) | indent(8, first=True) }}
END_INPUT
{% if case["expect_error"] %}
    assert_failure
    expected='{{ case["expect_error_msg"] }}'
{%- else %}
    assert_success
    expected='{{ case["expected"] }}'
{%- endif %}
    assert_equal "$output" "$expected"
}
{% endfor %}
