{{ header }}
{% for idx, case in cases %}
@test '{{ case["description"] }}' {
    {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip

    run jq -n -r -f {{ solution }} --argjson n {{ case["input"]["number"] }}
{% if case["expect_error"] %}
    assert_failure
    expected={{ case["expect_error_msg"] | quote }}{%- else %}
    assert_success
    expected={{ case["expected"] }}{%- endif %}
    assert_equal "$output" "$expected"
}
{% endfor %}
