{{ header }}
{% for idx, case in cases %}
@test '{{ case["description"] }}' {
    {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip

    run jq -s -R -c -f {{ solution }} << 'END_INPUT'
{{ case["input"]["garden"] | join("\n") | replace(" ", ".") }}
END_INPUT

    assert_success
    expected={{ case["expected"] | tojson | replace(" ", ".") | quote }}
    assert_equal "$output" "$expected"
}
{% endfor %}
