{{ header }}

# Ensure date calculations are done using UTC time zone
export TZ=UTC
{% for idx, case in cases %}
@test '{{ case["description"] }}' {
  {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip
  run jq -r -f {{ solution }} <<< {{ case["input"] | tojson(separators=None) | quote }}

  assert_success
  assert_output "{{ case["expected"] }}"
}
{% endfor %}
