{{ header }}
{% for idx, case in cases %}
@test {{ case["description"] | quote }} {
    {% if idx == 0 %}# {% endif %}[[ $BATS_RUN_SKIPPED == "true" ]] || skip

    run jq -r -f {{ slug }}.jq << 'END_INPUT'
{{ case["input"] | json_input }}
END_INPUT

    assert_success
    expected={{ case["expected"] | quote }}
    assert_equal "$output" "$expected"
}
{% endfor %}
