# Run all tests for commits to master

name: jq / main

on:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744

      - name: Install software
        run: |
          sudo apt update && sudo apt -y install bats &&
          sudo curl -L -o /usr/bin/jq  https://github.com/jqlang/jq/releases/download/jq-1.8.0/jq-linux-amd64 &&
          sudo chmod -v 755 /usr/bin/jq

      - name: Run tests for all exercises
        run: bash bin/validate_exercises
